<div class="reviews__item__title">
    <p class="reviews__item__name">{{name}}</p>
    <p class="reviews__item__place">{{place}}</p>
    <p class="reviews__item__date">{{date}}</p>
</div>
<div class="reviews__item__text">
    {{review}}
</div>